{
	"Theoretical Statistical Physics": {
		"id" : 10141,
		"short": "TSP"
	},
	"Artificial Intelligence": {
		"id" : 10038,
		"short": "AI"
	},
	"Environmental Physics": {
		"id" : 9947,
		"short": "EnvPhys"
	}
}
