{
"Global Governance": {
"id" : 14610,
"short": "GG"
},
"Public Management": {
"id" : 14592,
"short": "PA"
},
"Public Policy": {
"id" : 14586,
"short": "pp"
},
"Islamist Movements": {
"id" : 13694,
"short": "IM"
}
}
